.header {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 1rem;
  text-align: center;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  position: relative;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
  text-align: left;
}

/* Sidebar toggle button */
.sidebar-toggle {
  position: absolute;
  right: 1rem;
  top: 20%;
  background: none;
  border: none;
  color: var(--background-color);
  font-size: 1.5rem;
  cursor: pointer;
}
